body{
	font-family: Raleway, sans-serif;
}
.background-login {
	background: url('../img/login_background.jpg') center -200px; no-repeat;
}
.login-style{
	margin-top: 15%;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #ccc;
}
.register-style{
	margin-top: 8%;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #ccc;
}
.logo{
	max-width: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.barcode {
	margin-top: 20px;
	max-width: 220px;
}
div.message {
	position: absolute;
	text-align: center;
	cursor: pointer;
	display: block;
	font-weight: normal;
	padding: 5px 1.5rem 5px 1.5rem;
	transition: height 300ms ease-out 0s;
	background-color: #a0d3e8;
	color: #626262;
	top: 15px;
	right: 15px;
	z-index: 9999;
	overflow: hidden;
	/* height: 50px; */
	line-height: 2.5em;
	box-radius: 5px;
}
div.message:before {
	line-height: 0px;
	font-size: 20px;
	height: 12px;
	width: 12px;
	border-radius: 15px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	position: relative;
	left: -11px;
	background-color: #FFF;
	padding: 12px 14px 12px 10px;
	content: "i";
	color: #a0d3e8;
}
div.message.error {
	background-color: #C3232D;
	color: #FFF;
}
div.message.error:before {
	padding: 11px 16px 14px 7px;
	color: #C3232D;
	content: "x";
}
div.message.hidden {
	height: 0;
}
.form .error-message {
	display: block;
	padding: 0.375rem 0.5625rem 0.5625rem;
	margin-top: -1px;
	margin-bottom: 1rem;
	font-size: 0.75rem;
	font-weight: normal;
	font-style: italic;
	color: rgba(0, 0, 0, 0.54);
}
.required > label {
	font-weight: bold;
}
.required > label:after {
	content: ' *';
	color: #C3232D;
}
.error label,
.error label.error {
	color: #C3232D;
}
.cake-error,
.cake-debug,
.notice,
p.error,
p.notice {
	display: block;
	clear: both;
	background-repeat: repeat-x;
	margin-bottom: 18px;
	padding: 7px 14px;
	border-radius: 3px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
}
.cake-debug,
.notice,
p.notice {
	color: #000000;
	background: #ffcc00;
}
.cake-error,
p.error {
	color: #fff;
	background: #C3232D;
}
pre {
	background: none repeat scroll 0% 0% #FFF;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
	margin: 15px 0px;
	color: rgba(0, 0 ,0 , 0.74);
	padding:5px;
}
.cake-error .cake-stack-trace {
	margin-top:10px;
}
.cake-stack-trace code {
	background: inherit;
	border:0;
}
.cake-code-dump .code-highlight {
	display: block;
	background-color: #FFC600;
}
.cake-error a,
.cake-error a:hover {
	color:#fff;
	text-decoration: underline;
}
.logo-icon{
	float: right;
	width: 30px;
	position: relative;
	top: -6px;
	margin-left: 5px;
}
.navbar-default .navbar-brand {
	color: #050b6b;
	font-size: 30px;
	font-weight: 600;
}